/* ------------------- GENERAL PAGE ------------------- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;

}


/* ------------------- SECRET WORD ------------------- */

#word {
    font-size: 40px;
    letter-spacing: 12px;
    margin: 20px 0;
    font-weight: 700;
    color: #444;
} 


/* ------------------- MESSAGE ------------------- */

#message {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 20px;
    height: 28px;
    color: #FF6B6B;
    font-weight: 600;
}


/* ------------------- HANGMAN IMAGE ------------------- */

#hangman-img {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: left center;
    z-index: -1;         
}

#game-container {
    position: fixed;
    top: 0;
    align-items: center; 
    z-index: 10;
    text-align: center;
    padding-top: 40px;   
    width: 100;
} 

/* ------------------- KEYBOARD ------------------- */

#keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;
    justify-content: center;
    justify-self: center;
    gap: 10px;
    margin-top: 25px;
}

.key-btn {
    padding: 12px 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;

    border-radius: 12px;

    background-color: #6BCBFF;
    color: white;

    box-shadow: 0px 4px 0px #4FA3D1;

    transition: 0.2s;
}

.key-btn:hover {
    transform: translateY(-3px);
    background-color: #5AB7ED;
}

.key-btn:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 0px #4FA3D1;
}

.key-btn:disabled {
    background-color: #cccccc;
    box-shadow: none;
    cursor: not-allowed;
    color: #666;
}


/* ------------------- RESET BUTTON ------------------- */

#reset {
    margin-top: 25px;
    padding: 12px 22px;
    font-size: 18px;
    border: none;
    border-radius: 12px;

    background-color: #57CC99;
    color: white;

    box-shadow: 0px 5px 0px #399B72;
    cursor: pointer;

    transition: 0.2s ease;
}

#reset:hover {
    transform: translateY(-3px);
    background-color: #45B783;
}



